In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
not_to_use = 'oaid_hash, banner_id0, banner_id1, rate0, rate1, g0, g1, coeff_sum0, coeff_sum1'.split(', ')
df = pd.read_csv('~/Downloads/data.csv').drop(not_to_use, axis=1)
df['date_time'] = pd.to_datetime(df['date_time'], format='%Y-%m-%d %H:%M:%S.%f')

df.head()

,date_time,zone_id,banner_id,campaign_clicks,os_id,country_id,impressions,clicks
0,2021-09-27 00:01:30,0,0,0,0,0,1,1
1,2021-09-26 22:54:49,1,1,0,0,1,1,1
2,2021-09-26 23:57:20,2,2,3,0,0,1,1
3,2021-09-27 00:04:30,3,3,0,1,1,1,1
4,2021-09-27 00:06:21,4,4,0,1,0,1,1

In [3]:
df['date'] = df['date_time'].dt.date

df.groupby('date').agg(num_actions=('clicks', 'count')).sort_index().head(10)

            num_actions
date
2021-09-01            1
2021-09-26      3102610
2021-09-27      2367303
2021-09-28      2307355
2021-09-29      2420588
2021-09-30      1851189
2021-10-01      1643448
2021-10-02      2128978

In [4]:
df.groupby('impressions').agg(num_actions=('clicks', 'count')).sort_index().head(10)

             num_actions
impressions
1               15821472

In [5]:
df.groupby('clicks').agg(num_actions=('impressions', 'count')).sort_index().head(10)

        num_actions
clicks
0          15399223
1            422249

In [6]:
from datetime import datetime

df = df[df['date'] > datetime(2021, 9, 25).date()]

In [27]:
train = df[df['date'] < datetime(2021, 10, 1).date()]

val = df[df['date'] >= datetime(2021, 10, 1).date()]

test = val[val['date'] >= datetime(2021, 10, 2).date()]
val = val[val['date'] < datetime(2021, 10, 2).date()]